<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link href="/static/bulma.min.css" rel="stylesheet" media="screen">
  <!-- <link href="/static/main.css" rel="stylesheet" media="screen"> -->
</head>
<body class="is-primary is-fullheight">
  <section class="columns" style="margin-top: 0">
    {% block scoreboard %}
    <aside class="column is-one-fifth p-5 m-0 box" style="height: 100vh">
      <h1 class="title has-text-centered">{{ identikey }}</h1>
      <a class="block button is-fullwidth is-info" href="/instructions">Instructions</a>
      <ul>
        {% for goal in goals %}
        <a class="box {{ 'has-background-success-light' if goal.id in completed }}" href="/instructions#{{ goal.name }}">
          <li class="goal">
            <h2 class="subtitle is-4" style="{{ 'text-decoration: line-through' if goal.id in completed }}">{{ goal.name }}</h2>
            <p>{{ goal.description }}</p>
          </li>
        </a>
        {% endfor %}
      </ul>
    </aside>
    {% endblock %}
    <main class="column">
      <div class="columns is-centered">
        <div class="column is-half">
          {% block navbar %}
          <nav class="level">
            <div class="level-left">
              <h1 class="level-item title mb-0 has-text-justified"><a href="/" class="nostyle">BIN/CA$H</a></h1>
              <a class="level-item button is-link navbar-item" href="/" class="nostyle">Home</a>
              <a class="level-item button is-link navbar-item" href="/users" class="nostyle">Users</a>
              <a class="level-item button is-link navbar-item" href="/profile/{{ identikey }}" class="nostyle">Profile</a>
              <a class="level-item button is-link navbar-item" href="/support" class="nostyle">Support</a>
            </div>   
          </nav>
          {% endblock %}
          
          <section id="alerts">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            <article class="message is-primary mb-2">
              <div class="message-header">
                <p>{{ category }}</p>
                <button class="delete" aria-label="delete" onclick="this.parentElement.parentElement.classList.add('is-hidden')"></button>
              </div>
              <div class="message-body">
                {{ message | safe }}
              </div>
            </article>
            {% endfor %}
            {% endwith %}
          </section>

          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
  </section>
</body>
</html>
