{% extends "base.html" %}

{% block content %}
<div class="user-profile">
    <div class="card mt-4" style="border-radius: 10px">
        <div class="card-header">
            <h1 class="card-header-title title has-text-centered">{{ user.username }}</h1>
        </div>
        <!-- The biography should be visually first, with the transactions below them, otherwise it
        would look weird. But the transactions need to have loaded before the biography, or else
        students couldn't just click the "send money" button without deferring the script, which we
        have not covered. So we declare the transactions first, but use CSS to flip their display
        order. Also if you're a student reading this for some reason, hello lol. -->
        <div class="is-flex is-flex-direction-column-reverse">
            <div class="card-content pt-0">
                <div class="block">
                    <form id="transaction_form" action="/transaction" method="post">
                        <input class="input" name="to" type="hidden" value="{{ user.username }}">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" name="amount" type="number" placeholder="Amount" min="0.01" step="0.01" value="10.00" required />
                            </div>
                            <div class="control">
                                <input class="button is-info" id="send_money" type="submit" value="Send money">
                            </div>
                        </div>
                    </form>
                </div>
                {% if user.username == identikey %}
                <script>
                /*
                * This is a hack which allows students to click the 'Send money' button on their
                * own account page without redirecting to a new page or infinitely looping on this
                * one, which is the default behavior. This allows them to test their XSS attacks.
                */
                transaction_form.onsubmit = function() {
                    let form_data = new FormData(transaction_form);
                
                    error = `
                    <article class="message is-danger">
                        <div class="message-header">
                            <p>Error</p>
                            <button class="delete" aria-label="delete" onclick="this.parentElement.parentElement.classList.add('is-hidden')"></button>
                        </div>
                        <div class="message-body">
                            You cannot send money to yourself
                        </div>
                    </article>`;
                    alerts.insertAdjacentHTML('afterbegin', error);
                    return false;
                }
                </script>
                {% endif %}
                <h3 class="title is-3">Transactions</h3>
                {% if not transactions %}
                This user has no transactions
                {% endif %}
                <ul>
                    {% for t in transactions %}
                    <li class="box p-3 mt-2 mb-2">
                        {% if t.sender == user.username %}
                            {% if t.amount >= 0 %}
                                <h4 class="title is-6"><b class="has-text-danger">${{ "{:.2f}".format(t.amount) }}</b> to <a href="/profile/{{ t.recipient }}">{{ t.recipient }}</a>
                                <p class="subtitle is-6 is-italic">{{ t.time.strftime("%I:%M %p") }}</p></h4>
                            {% else %}
                                <h4 class="title is-6"><b class="has-text-success">${{ "{:.2f}".format(-t.amount) }}</b> from <a href="/profile/{{ t.recipient }}">{{ t.recipient }}</a>
                                <p class="subtitle is-6 is-italic">{{ t.time.strftime("%I:%M %p") }}</p></h4>
                            {% endif %}
                        {% else %}
                            {% if t.amount >= 0 %}
                                <h4 class="title is-6"><b class="has-text-success">${{ "{:.2f}".format(t.amount) }}</b> from <a href="/profile/{{ t.sender }}">{{ t.sender }}</a>
                                <p class="subtitle is-6 is-italic">{{ t.time.strftime("%I:%M %p") }}</p></h4>
                            {% else %}
                                <h4 class="title is-6"><b class="has-text-danger">${{ "{:.2f}".format(-t.amount) }}</b> to <a href="/profile/{{ t.sender }}">{{ t.sender }}</a>
                                <p class="subtitle is-6 is-italic">{{ t.time.strftime("%I:%M %p") }}</p></h4>
                            {% endif %}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-content">
                <div class="media mb-1">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="/static/img/{{ user.profile_picture }}" class="user-picture"></img>
                        </figure>
                    </div>
                    <div class="media-content">
                        <div>
                            <h3 class="subtitle is-5 mb-2">Biography</h3>
                            <div id="biography" class="text container vertical">
                                <div class=""></div>
                                <div id="biography" class="mb-2">{{ user.biography | safe }}</div>
                                {% if user.username == identikey %}
                                <button class="button is-info" onclick="biography_form.classList.remove('is-hidden'); biography.classList.add('is-hidden');">Edit Biography</button>
                                {% endif %}
                            </div>
                            <form id="biography_form" class="is-hidden" method="post">
                                <textarea class="input mb-2" name="biography">{{ user.biography }}</textarea>
                                <input class="button is-success" type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
