{% extends "base.html" %}

{% block scoreboard %}
{% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="box">
  <form action="/set_identikey" class="container vertical center" method="post">
    <h1 class="title">Enter your identikey</h1>
    <input class="input" name="identikey" type="text">
  </form>
</div>

{% for error in form.identikey.errors %}
<article class="message is-danger">
  <div class="message-header">
    <p>Error</p>
    <button class="delete" aria-label="delete" onclick="this.parentElement.parentElement.classList.add('is-hidden')"></button>
  </div>
  <div class="message-body">
    {{ error }}
  </div>
</article>
{% endfor %}
{% endblock %}