{% extends "base.html" %}

{% block content %}
<h1 class="title">Support Chat</h1>

<div id="chat-wrapper" class="mb-4 p-2" style="max-height: 600px; overflow-y: scroll; overflow-x: clip;">
    <div id="chat-container">
        <div class="card mt-4 mr-6" style="border-radius: 10px">
            <div class="card-content p-4">
                <div class="media mb-1">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="/static/img/support.jpg">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6">Support</p>
                        <address class="subtitle is-6">@support</address>
                    </div>
                </div>
                
                <div class="content">
                    Hi! I'm <b>Johnny Link-Clicker</b>, your personal support representative! Ask me any questions you have. If your question contains a link, I will even click it!
                </div>
            </div>
        </div>
        
        {% for message in messages %}
        {% if message.from_support %}
        <div class="card mt-4 mr-6" style="border-radius: 10px">
            <div class="card-content p-4">
                <div class="media mb-1">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="/static/img/support.jpg">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6">Support</p>
                        <address class="subtitle is-6">@support</address>
                    </div>
                </div>
                
                <div class="content">
                    {{ message.message }}
                </div>
            </div>
        </div>
        {% else %}
        <div class="card mt-4 ml-6 has-background-info-light" style="border-radius: 10px">
            <div class="card-content p-4">
                <div class="media mb-1">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="/static/img/user.jpg">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6">{{ identikey }}</p>
                        <address class="subtitle is-6">@{{ identikey }}</address>
                    </div>
                </div>
                
                <div class="content">
                    {{ message.message }}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        
        <template id="message-template">
            <div class="card mt-4" style="border-radius: 10px">
                <div class="card-content p-4">
                    <div class="media mb-1">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img class="is-rounded">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-6"></p>
                            <address class="subtitle is-6"></address>
                        </div>
                    </div>
                    
                    <div class="content">
                    </div>
                </div>
            </div>
        </template>
        
    </div>
</div>

<form class="user-search" id="chat-form" method="POST">
    <div class="field has-addons">
      <div class="control is-expanded">
          <input class="input" id="message" name="message" type="text" placeholder="Message">
      </div>
      <div class="control">
        <input class="button is-info" type="submit" value="Send">
      </div>
    </div>
</form>

</form>

<script>
    let chat_form = document.getElementById('chat-form');
    let chat_wrapper = document.getElementById('chat-wrapper');
    let chat_container = document.getElementById('chat-container');
    let message_template = document.getElementById('message-template');
    let message_input = document.getElementById('message');
    
    function scroll_to_bottom() {
        chat_wrapper.scrollTop = chat_wrapper.scrollHeight;
    }
    
    function append_message(username, message, sent) {
        var new_message = message_template.content.cloneNode(true);
        new_message.querySelector('.card').classList = sent ? 'card mt-4 ml-6 has-background-info-light' : 'card mt-4 mr-6';
        new_message.querySelector('p.title').textContent = username;
        new_message.querySelector('address').textContent = '@' + username;
        new_message.querySelector('.content').textContent = message;
        new_message.querySelector('img').src = sent ? '/static/img/user.jpg' : '/static/img/support.jpg';
        
        chat_container.appendChild(new_message);
        scroll_to_bottom();
    }
    
    scroll_to_bottom();
    chat_form.onsubmit = function() {
        let form_data = new FormData(chat_form);
        
        append_message('{{ identikey }}', form_data.get('message'), true);
        message_input.value = '';
        
        fetch('/message', {
            method: 'post',
            body: form_data,
        }).then((response) => {
            return response.text();
        }).then((response_text) => {
            append_message('support', response_text, false);
        }).catch((error) => {
            console.error(error);
        })
        
        return false;
    }
</script>
{% endblock %}
