{% extends "base.html" %}

{% block content %}
<h1>Users</h1>
<form class="user-search container" action="users" method="GET">
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input" name="query" type="text" placeholder="Search users" value="{{ query }}">
    </div>
    <div class="control">
      <input class="button is-info" type="submit" value="Search">
    </div>
  </div>
</form>

{% if results %}
<div class="is-flex is-flex-direction-column">
  {% for result in results %}
  <a href="profile/{{ result.username }}" class="nostyle">
    <div class="card mt-3">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img class="is-rounded" src="static/img/{{ result.profile_picture }}">
            </figure>
          </div>
          <div class="media-content">
            <h4 class="title is-4">{{ result.username }}</h4>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% elif error %}
<div class="message is-danger mt-4">
  <div class="message-body is-family-monospace">
    <p>Error: {{ error }}</p>
    <p>{{ sql }}</p>
  </div>
</div>
{% endif %}
{% endblock %}